## Part II: Foreign and Daily Box Office

_That first notebook was getting out of hand, and it also took 40 minutes to run. So let's migrate to a new notebook!_

Now that we have the Movies table, we need to produce and populate the DailyBoxOffice and ForeignBoxOffice tables. Let's define some useful functions and connect to our database.

In [1]:
#Connection to database:
import MySQLdb as mdb
import sys

con = mdb.connect(host = 'localhost', 
                  user = 'root', 
                  passwd = 'dwdstudent2015', 
                  charset='utf8', use_unicode=True);

These are functions that originated in the other workbook that are used to expedite repitious processes like querying the database, getting HTML pages, and, of course, finding the foreign/daily data.

In [2]:
def GetHTML(URL):
    return html.fromstring((requests.get(URL,stream=True)).text,)

def SQLquery_df(query):
    cur = con.cursor(mdb.cursors.DictCursor)
    cur.execute(query)
    rows = cur.fetchall()
    rows
    df_from_sql = pandas.DataFrame(list(rows))
    return df_from_sql

def SQLquery_raw(query):
    cur = con.cursor(mdb.cursors.DictCursor)
    cur.execute(query)
    rows = cur.fetchall()
    return rows

def CleanNumber(n):
    try:
        return float((n.strip("$")).replace(",",""))
    except:
        return None
    
def CleanPercent(n):
    try:
        return (float((n.strip("%")).replace(",",""))/100)
    except:
        return None

def GetDailyBoxOffice(ID):
    url = 'http://www.boxofficemojo.com/movies/?page=daily&view=chart&id='+ID+'.htm'
    page = GetHTML(url)
    table_xp = '//*[contains(concat( " ", @class, " " ), concat( " ", "chart-wide", " " ))]//td'
    table = [i.text_content() for i in page.xpath(table_xp)]
    table = table[8:len(table)]
    table = [i for i in table if i != '']
    rows = []
    for i in range(0,len(table),10):
        row = table[i:(i+10)]
        rows.append(row)
    frame = pandas.DataFrame(rows)
    frame.rename(columns={
        0:"Day_Week",
        1:"Full_Date",
        2:"Rank",
        3:"Daily_BoxOffice",
        4:"Delta_Yesterday",
        5:"Delta_LastWeek",
        6:'Theaters',
        7:'Theaters_Avg',
        8:'Gross_ToDate',
        9:"Days_Out"
    }, inplace = True)
    try:
        frame["Gross_ToDate"] = frame["Gross_ToDate"].apply(CleanNumber)
        frame["Daily_BoxOffice"] = frame["Daily_BoxOffice"].apply(CleanNumber)
        frame["Theaters"] = frame["Theaters"].apply(CleanNumber)
        frame["Full_Date"] = pandas.to_datetime(frame["Full_Date"])
        frame["Theaters_Avg"] = frame["Theaters_Avg"].apply(CleanNumber)
        frame["Delta_Yesterday"] = frame["Delta_Yesterday"].apply(CleanPercent)
        frame["Delta_LastWeek"] = frame["Delta_LastWeek"].apply(CleanPercent)
    except KeyError:
        return frame
    return frame

def GetForeign(ID):      
    request_url = 'http://www.boxofficemojo.com/js/jscharts.js'
    referer_url = 'http://www.boxofficemojo.com/movies/?page=intl&view=bycountry&id='+ID+'.htm'
    parameters = {"Referer": referer_url}
    output = requests.get(url=referer_url, params=parameters)
    page = html.fromstring((requests.get(url=referer_url, params=parameters)).text)
    table_xp = '//b//a | //td//td//font'   #bingo
    table = page.xpath(table_xp)
    table = [i.text_content() for i in table]
    table = table[21:len(table)]
    table = [i for i in table if i != '']

    rows = []
    for i in range(0,len(table),8):
        row = table[i:(i+7)]
        rows.append(row)

    frame = pandas.DataFrame(rows)
    frame.rename(columns={
        0:"Country",
        1:"Distributor",
        2:"Release_Date",
        3:"Opening_Weekend",
        4:"Opening_Percent_Total",
        5:"C_BoxOffice",
        6:"As_Of"
    }, inplace = True)
    try:
        frame["Opening_Weekend"] = frame["Opening_Weekend"].apply(CleanNumber)
        frame["Opening_Percent_Total"] = frame["Opening_Percent_Total"].apply(CleanPercent)
        frame["C_BoxOffice"] = frame["C_BoxOffice"].apply(CleanNumber)
        frame["Release_Date"] = pandas.to_datetime(frame["Release_Date"])
    except KeyError:
        return frame
    return frame

Let's query the database and do a few tests make sure that our functions are outputting the proper, clean dataframes.

In [3]:
t_movies = SQLquery_df('''SELECT * FROM Movies.Movies''')

In [4]:
GetDailyBoxOffice(t_movies["BoxOfficeID"][1453])

,Day_Week,Full_Date,Rank,Daily_BoxOffice,Delta_Yesterday,Delta_LastWeek,Theaters,Theaters_Avg,Gross_ToDate,Days_Out
0,Fri,2009-03-27,2,9669724.0,NaN,NaN,2732.0,3539.0,9669724.0,1
1,Sat,2009-03-28,2,8832769.0,-0.087,NaN,2732.0,3233.0,18502493.0,2
2,Sun,2009-03-29,2,4502272.0,-0.490,NaN,2732.0,1648.0,23004765.0,3
3,Mon,2009-03-30,2,1346755.0,-0.701,NaN,2732.0,493.0,24351520.0,4
4,Tue,2009-03-31,2,1278037.0,-0.051,NaN,2732.0,468.0,25629557.0,5
5,Wed,2009-04-01,2,1059840.0,-0.171,NaN,2732.0,388.0,26689397.0,6
6,Thu,2009-04-02,3,1000236.0,-0.056,NaN,2732.0,366.0,27689633.0,7
7,Fri,2009-04-03,3,3749607.0,2.749,-0.612,2732.0,1372.0,31439240.0,8
8,Sat,2009-04-04,3,3834031.0,0.023,-0.566,2732.0,1403.0,35273271.0,9
9,Sun,2009-04-05,5,1898009.0,-0.505,-0.578,2732.0,695.0,37171280.0,10
10,Mon,2009-04-06,3,758792.0,-0.600,-0.437,2732.0,278.0,37930072.0,11
11,Tue,2009-04-07,4,830907.0,0.095,-0.350,2732.0,304.0,38760979.0,12
12,Wed,2009-04-08,4,785975.0,-0.054,-0.258,2732.0,288.0,39546954.0,13
13,Thu,2009-04-09,4,1040411.0,0.324,0.040,2732.0,381.0,40587365.0,14
14,Fri,2009-04-10,5,2349881.0,1.259,-0.373,2721.0,864.0,42937246.0,15
15,Sat,2009-04-11,7,2276889.0,-0.031,-0.406,2721.0,837.0,45214135.0,16
16,Sun,2009-04-12,7,1274445.0,-0.440,-0.329,2721.0,468.0,46488580.0,17
17,Mon,2009-04-13,6,701663.0,-0.449,-0.075,2721.0,258.0,47190243.0,18
18,Tue,2009-04-14,7,591393.0,-0.157,-0.288,2721.0,217.0,47781636.0,19
19,Wed,2009-04-15,7,507755.0,-0.141,-0.354,2721.0,187.0,48289391.0,20
20,Thu,2009-04-16,7,479106.0,-0.056,-0.540,2721.0,176.0,48768497.0,21
21,Fri,2009-04-17,10,1080526.0,1.255,-0.540,2255.0,479.0,49849023.0,22
22,Sat,2009-04-18,10,1347283.0,0.247,-0.408,2255.0,597.0,51196306.0,23
23,Sun,2009-04-19,10,687083.0,-0.490,-0.461,2255.0,305.0,51883389.0,24
24,Mon,2009-04-20,10,217010.0,-0.684,-0.691,2255.0,96.0,52100399.0,25
25,Tue,2009-04-21,10,219701.0,0.012,-0.629,2255.0,97.0,52320100.0,26
26,Wed,2009-04-22,11,198399.0,-0.097,-0.609,2255.0,88.0,52518499.0,27
27,Thu,2009-04-23,11,191726.0,-0.034,-0.600,2255.0,85.0,52710225.0,28
28,Fri,2009-04-24,14,518429.0,1.704,-0.520,1675.0,310.0,53228654.0,29
29,Sat,2009-04-25,14,659387.0,0.272,-0.511,1675.0,394.0,53888041.0,30
30,Sun,2009-04-26,14,319304.0,-0.516,-0.535,1675.0,191.0,54207345.0,31
31,Mon,2009-04-27,14,96398.0,-0.698,-0.556,1675.0,58.0,54303743.0,32
32,Tue,2009-04-28,14,106289.0,0.103,-0.516,1675.0,63.0,54410032.0,33
33,Wed,2009-04-29,14,103008.0,-0.031,-0.481,1675.0,61.0,54513040.0,34
34,Thu,2009-04-30,14,101632.0,-0.013,-0.470,1675.0,61.0,54614672.0,35
35,Fri,2009-05-01,17,137111.0,0.349,-0.736,603.0,227.0,54751783.0,36
36,Sat,2009-05-02,18,184040.0,0.342,-0.721,603.0,305.0,54935823.0,37
37,Sun,2009-05-03,18,94598.0,-0.486,-0.704,603.0,157.0,55030421.0,38
38,Mon,2009-05-04,20,28468.0,-0.699,-0.705,603.0,47.0,55058889.0,39
39,Tue,2009-05-05,21,27558.0,-0.032,-0.741,603.0,46.0,55086447.0,40
40,Wed,2009-05-06,20,29033.0,0.054,-0.718,603.0,48.0,55115480.0,41
41,Thu,2009-05-07,22,21945.0,-0.244,-0.784,603.0,36.0,55137425.0,42
42,Fri,2009-05-08,20,62726.0,1.858,-0.543,303.0,207.0,55200151.0,43
43,Sat,2009-05-09,-,81996.0,0.307,-0.554,303.0,271.0,55282147.0,44
44,Sun,2009-05-10,-,43379.0,-0.471,-0.541,303.0,143.0,55325526.0,45
45,Mon,2009-05-11,-,16009.0,-0.631,-0.438,303.0,53.0,55341535.0,46
46,Tue,2009-05-12,-,16612.0,0.038,-0.397,303.0,55.0,55358147.0,47
47,Wed,2009-05-13,-,15449.0,-0.070,-0.468,303.0,51.0,55373596.0,48
48,Thu,2009-05-14,-,15920.0,0.030,-0.275,303.0,53.0,55389516.0,49

In [5]:
GetForeign(t_movies["BoxOfficeID"][234])

,Country,Distributor,Release_Date,Opening_Weekend,Opening_Percent_Total,C_BoxOffice,As_Of
0,Argentina,Fox,2004-09-16,193070.0,0.327,590711.0,Final
1,Australia,Fox,2004-09-30,2848526.0,0.632,4505257.0,Final
2,Austria,Centfox,2004-11-05,NaN,NaN,877824.0,Final
3,Belgium,-,2004-11-03,NaN,NaN,1155642.0,Final
4,Bolivia,-,2004-09-30,NaN,NaN,56259.0,Final
5,Brazil,-,2004-09-03,NaN,NaN,1932995.0,Final
6,Bulgaria,Alexandra,2004-11-12,49121.0,0.317,155116.0,Final
7,Central America and the Greater Antilles,-,2004-09-17,NaN,NaN,673658.0,Final
8,Chile,-,2004-09-09,NaN,NaN,444845.0,Final
9,Colombia,-,2004-09-17,NaN,NaN,568436.0,Final
10,Croatia,-,2004-11-18,NaN,NaN,71891.0,Final
11,Czech Republic,-,2004-11-04,NaN,NaN,387283.0,1/16/05
12,Czech Republic/Slovakia,-,2004-11-04,NaN,NaN,451055.0,Final
13,Denmark,-,2004-11-19,NaN,NaN,816202.0,Final
14,Dominican Republic,-,2004-09-16,NaN,NaN,37707.0,Final
15,Ecuador,-,2004-09-17,NaN,NaN,125217.0,Final
16,Egypt,-,2004-11-24,18275.0,0.354,51629.0,Final
17,Estonia,-,2004-10-29,NaN,NaN,56741.0,Final
18,Finland,FS Film,2004-10-29,195012.0,0.533,365591.0,Final
19,France,UFD,2004-10-27,3925392.0,0.582,6740922.0,Final
20,Germany,Fox,2004-11-04,4904323.0,0.606,8086333.0,Final
21,Greece,-,2004-11-12,209900.0,0.334,628834.0,Final
22,Hong Kong,Fox,2004-09-09,1043588.0,0.706,1477594.0,Final
23,Hungary,InterCom,2004-10-28,193600.0,0.302,640891.0,Final
24,Iceland,-,2004-10-29,NaN,NaN,90133.0,Final
25,India,-,2004-10-01,NaN,NaN,598765.0,Final
26,Indonesia,-,2004-09-08,NaN,NaN,396756.0,Final
27,Israel,-,2004-10-28,NaN,NaN,191919.0,Final
28,Italy,Fox,2004-11-19,1627686.0,0.482,3377520.0,Final
29,Jamaica,-,2004-09-01,NaN,NaN,33755.0,Final
...,...,...,...,...,...,...,...
34,Lithuania,-,2004-11-19,NaN,NaN,64028.0,Final
35,Malaysia,-,2004-08-26,NaN,NaN,1076375.0,Final
36,Mexico,Fox,2004-09-10,2122889.0,0.544,3900462.0,Final
37,Netherlands,Fox,2004-10-28,398303.0,0.530,751478.0,Final
38,New Zealand,Fox,2004-09-30,NaN,NaN,981253.0,Final
39,Norway,Fox,2004-11-12,308593.0,0.452,683229.0,Final
40,Peru,-,2004-09-09,NaN,NaN,379684.0,Final
41,Philippines,-,2004-08-18,NaN,NaN,981011.0,Final
42,Poland,Cinepix,2004-11-05,369767.0,0.388,952757.0,Final
43,Portugal,Castello,2004-10-28,355038.0,0.396,895942.0,Final
44,Puerto Rico,-,2004-08-12,NaN,NaN,1309075.0,Final
45,Romania,-,2004-11-12,NaN,NaN,90680.0,Final
46,Russia,-,2004-10-21,NaN,NaN,3976837.0,Final
47,Russia - CIS,-,2004-10-21,1567731.0,0.396,3957736.0,11/21/04
48,Serbia & Montenegro,-,2004-11-11,NaN,NaN,56206.0,Final
49,Singapore,-,2004-08-19,NaN,NaN,1087965.0,Final
50,Slovenia,-,2004-11-18,NaN,NaN,90670.0,Final
51,South Africa,-,2004-10-29,198943.0,0.432,460062.0,Final
52,South Korea,-,2004-09-03,NaN,NaN,1571441.0,Final
53,Spain,Fox,2004-11-19,2494890.0,0.473,5279747.0,Final
54,Sweden,-,2004-11-05,NaN,NaN,839515.0,Final
55,Switzerland,-,2004-10-27,NaN,NaN,933250.0,Final
56,Taiwan,-,2004-08-28,276507.0,0.160,1726012.0,Final
57,Thailand,-,2004-08-12,1034000.0,0.662,1562029.0,Final
58,Turkey,Ozen Film,2004-10-29,146126.0,0.408,358328.0,Final
59,Ukraine,-,2004-10-21,NaN,NaN,622434.0,Final
60,United Arab Emirates,-,2004-11-10,111080.0,0.458,242525.0,Final
61,United Kingdom,Fox,2004-10-22,3663673.0,0.392,9339065.0,Final
62,Uruguay,-,2004-09-17,NaN,NaN,45230.0,Final
63,Venezuela,-,2004-10-29,NaN,NaN,390208.0,Final

### Error Handling, Assessment
Although these functions do work most of the time, sometimes they fail, and we'll need to know how often they fail and why the fail in order to handle them properly. There are four different types of errors:
- **Key errors** occur when there is no valid BoxOfficeID
- **Value errors** occur when there are no foreign box office stats available for the movie (i.e. when there was no international release, which is not uncommon)
- **TypeErrors** occur when there is no valid boxofficeID for movie in the main table (when it's a NoneType)
- **ChunkedEncodingError** when we keep the connection open for too long

The first three are easy enough to account for, but the fourth will require some strategic looping (and luck).

Running the foreign box office function, we receive are 644 errors out of 3700 (~17%) which really isn't bad considering that many of movies very well may not have been released in any foreign markets, which is a completely legitimate error. The daily box office, on the other hand, appears to work 100% of the time!

These cells of code help us assess how often both functions fail and why, as well as how long the scraping process takes, **but you do not have to run them!**

In [6]:
import datetime

start = datetime.datetime.now()
error_count = 0
for i in range(len(t_movies)):
    try:
        ugh = GetForeign(t_movies["BoxOfficeID"][i])
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+ugh["C_Total_Gross"][0])
    except KeyError:
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+"KeyError")
        #Key errors occur when there is no valid BoxOfficeID
        error_count = error_count + 1
    except ValueError:
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+"ValueError")       
        #Value errors occur when there are no foreign box office stats available for the movie
        #(i.e. when there was no international release)
        error_count = error_count + 1
    except TypeError:
        #print(str(i)+"\t"+"No ID!"+"\t"+"TypeError") 
        #TypeErrors occur when there is no valid boxofficeID for movie in the main table. (When it's a NoneType)
        error_count = error_count + 1

end = datetime.datetime.now()
print("ERROR COUNT: " + str(error_count))
print("TIME ELAPSED: " + str(end - start))

ERROR COUNT:644
TIME ELAPSED:0:07:22.744720

In [7]:
import datetime

start = datetime.datetime.now()
error_count = 0
for i in range(len(t_movies)):
    try:
        foo = GetDailyBoxOffice(t_movies["BoxOfficeID"][i])
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+ugh["Full_Date"][0])
    except KeyError:
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+"KeyError")
        error_count += 1
    except ValueError:
        #print(str(i)+"\t"+t_movies["BoxOfficeID"][i]+"\t"+"ValueError")  
        error_count += 1
    except TypeError:
        #print(str(i)+"\t"+"No ID!"+"\t"+"TypeError") 
        error_count += 1
        
end = datetime.datetime.now()
print("ERROR COUNT: " + str(error_count))
print("TIME ELAPSED: " + str(end - start))

ERROR COUNT:0
TIME ELAPSED:0:04:37.324868

### Databasing
We can decide how to better handle foreign box office errors (if at all) later, but we can ignore most of them because they either 1) represent legitimately missing data or 2) occur infrequently enough that it's not worth changing our functions and XPaths to account for them. 

So let's move on to databasing.

In [14]:
cursor = con.cursor()
db_name = 'Movies'
table_name = 'DailyBoxOffice'
drop_table_query = '''DROP TABLE IF EXISTS {db}.{table}'''.format(db=db_name, table=table_name)
create_table_query = '''CREATE TABLE IF NOT EXISTS {db}.{table}
                        (BoxOfficeID varchar(250),
                        Day_Week varchar(250),
                        Full_Date datetime,
                        Rank int,
                        Daily_BoxOffice float,
                        Delta_Yesterday float,
                        Delta_LastWeek float,
                        Theaters int,
                        Theaters_Avg float,
                        Gross_ToDate float,
                        Days_Out int,
                        PRIMARY KEY(BoxOfficeID, Days_Out),
                        FOREIGN KEY(BoxOfficeID) REFERENCES Movies.Movies(BoxOfficeID)
                        )'''.format(db=db_name, table=table_name)
cursor.execute(drop_table_query)
cursor.execute(create_table_query)
cursor.close()

As with so many cells in these notebooks, this might take a  long time to run. 

(If you get disconnected or receive a **ChunkedEncodingError**, just try again and hope for the best.)

In [15]:
cursor = con.cursor()
table_name = 'DailyBoxOffice'
db_name = 'Movies'

insert_query_template = '''INSERT IGNORE INTO {db}.{table}(BoxOfficeID,
                        Day_Week,
                        Full_Date,
                        Rank,
                        Daily_BoxOffice,
                        Delta_Yesterday,
                        Delta_LastWeek,
                        Theaters,
                        Theaters_Avg,
                        Gross_ToDate,
                        Days_Out)
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''.format(db=db_name, table=table_name)

for j in range(0,len(t_movies)):
    frame = GetDailyBoxOffice(t_movies["BoxOfficeID"][j])
    for i in range(0,len(frame)):
        query_parameters = (t_movies["BoxOfficeID"][j],
                            frame["Day_Week"][i],
                            frame["Full_Date"][i],
                            frame["Rank"][i],
                            frame["Daily_BoxOffice"][i],
                            frame["Delta_Yesterday"][i],
                            frame["Delta_LastWeek"][i],
                            frame["Theaters"][i],
                            frame["Theaters_Avg"][i],
                            frame["Gross_ToDate"][i],
                            frame["Days_Out"][i])
        cursor.execute(insert_query_template,query_parameters)
con.commit()
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1265, "Data truncated for column 'Delta_Yesterday' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1265, "Data truncated for column 'Delta_LastWeek' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1366, "Incorrect integer value: '-' for column 'Rank' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1265, "Data truncated for column 'Theaters_Avg' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1265, "Data truncated for column 'Gross_ToDate' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: Warning: (1062, "Duplicate entry 'painandgain-0' for key 'PRIMARY'")

In [16]:
SQLquery_df('''SELECT * FROM Movies.DailyBoxOffice''')

,BoxOfficeID,Daily_BoxOffice,Day_Week,Days_Out,Delta_LastWeek,Delta_Yesterday,Full_Date,Gross_ToDate,Rank,Theaters,Theaters_Avg
0,10000bc,12506900.0,Fri,1,0.000,0.000,2008-03-07,12506900.0,1,3410,3668.0
1,10000bc,14016200.0,Sat,2,0.000,0.121,2008-03-08,26523100.0,1,3410,4110.0
2,10000bc,9344390.0,Sun,3,0.000,-0.333,2008-03-09,35867500.0,1,3410,2740.0
3,10000bc,2684500.0,Mon,4,0.000,-0.713,2008-03-10,38552000.0,1,3410,787.0
4,10000bc,2317280.0,Tue,5,0.000,-0.137,2008-03-11,40869300.0,1,3410,680.0
5,10000bc,1988380.0,Wed,6,0.000,-0.142,2008-03-12,42857600.0,1,3410,583.0
6,10000bc,1946470.0,Thu,7,0.000,-0.021,2008-03-13,44804100.0,1,3410,571.0
7,10000bc,4945910.0,Fri,8,-0.605,1.541,2008-03-14,49750000.0,2,3410,1450.0
8,10000bc,7006290.0,Sat,9,-0.500,0.417,2008-03-15,56756300.0,2,3410,2055.0
9,10000bc,4821110.0,Sun,10,-0.484,-0.312,2008-03-16,61577400.0,2,3410,1414.0
10,10000bc,1386780.0,Mon,11,-0.483,-0.712,2008-03-17,62964200.0,2,3410,407.0
11,10000bc,1438370.0,Tue,12,-0.379,0.037,2008-03-18,64402600.0,2,3410,422.0
12,10000bc,1386270.0,Wed,13,-0.303,-0.036,2008-03-19,65788800.0,2,3410,407.0
13,10000bc,1678400.0,Thu,14,-0.138,0.211,2008-03-20,67467200.0,2,3410,492.0
14,10000bc,3086440.0,Fri,15,-0.376,0.839,2008-03-21,70553700.0,5,3454,894.0
15,10000bc,3425960.0,Sat,16,-0.511,0.110,2008-03-22,73979600.0,5,3454,992.0
16,10000bc,2421670.0,Sun,17,-0.498,-0.293,2008-03-23,76401300.0,3,3454,701.0
17,10000bc,1158200.0,Mon,18,-0.165,-0.522,2008-03-24,77559500.0,4,3454,335.0
18,10000bc,867411.0,Tue,19,-0.397,-0.251,2008-03-25,78426900.0,4,3454,251.0
19,10000bc,811188.0,Wed,20,-0.415,-0.065,2008-03-26,79238100.0,4,3454,235.0
20,10000bc,807246.0,Thu,21,-0.519,-0.005,2008-03-27,80045400.0,4,3454,234.0
21,10000bc,1416230.0,Fri,22,-0.541,0.754,2008-03-28,81461600.0,8,3055,464.0
22,10000bc,2110310.0,Sat,23,-0.384,0.490,2008-03-29,83571900.0,7,3055,691.0
23,10000bc,1420640.0,Sun,24,-0.413,-0.327,2008-03-30,84992500.0,6,3055,465.0
24,10000bc,408337.0,Mon,25,-0.647,-0.713,2008-03-31,85400900.0,6,3055,134.0
25,10000bc,396161.0,Tue,26,-0.543,-0.030,2008-04-01,85797000.0,6,3055,130.0
26,10000bc,367107.0,Wed,27,-0.547,-0.073,2008-04-02,86164100.0,6,3055,120.0
27,10000bc,388376.0,Thu,28,-0.519,0.058,2008-04-03,86552500.0,6,3055,127.0
28,10000bc,787099.0,Fri,29,-0.444,1.027,2008-04-04,87339600.0,10,2335,337.0
29,10000bc,1208190.0,Sat,30,-0.427,0.535,2008-04-05,88547800.0,10,2335,517.0
...,...,...,...,...,...,...,...,...,...,...,...
157858,zorro2,2287290.0,Fri,15,-0.217,1.708,2005-11-11,35176000.0,7,3053,749.0
157859,zorro2,2608990.0,Sat,16,-0.408,0.141,2005-11-12,37785000.0,7,3053,855.0
157860,zorro2,1485360.0,Sun,17,-0.448,-0.431,2005-11-13,39270400.0,7,3053,487.0
157861,zorro2,313129.0,Mon,18,-0.449,-0.789,2005-11-14,39583500.0,7,3053,103.0
157862,zorro2,326432.0,Tue,19,-0.481,0.042,2005-11-15,39909900.0,7,3053,107.0
157863,zorro2,288800.0,Wed,20,-0.461,-0.115,2005-11-16,40198700.0,7,3053,95.0
157864,zorro2,286569.0,Thu,21,-0.661,-0.008,2005-11-17,40485300.0,7,3053,94.0
157865,zorro2,708899.0,Fri,22,-0.690,1.474,2005-11-18,41194200.0,9,2150,330.0
157866,zorro2,1018250.0,Sat,23,-0.610,0.436,2005-11-19,42212500.0,9,2150,474.0
157867,zorro2,627942.0,Sun,24,-0.577,-0.383,2005-11-20,42840400.0,9,2150,292.0
157868,zorro2,197414.0,Mon,25,-0.370,-0.686,2005-11-21,43037800.0,10,2150,92.0
157869,zorro2,253290.0,Tue,26,-0.224,0.283,2005-11-22,43291100.0,10,2150,118.0
157870,zorro2,142151.0,Wed,27,-0.508,-0.439,2005-11-23,43433300.0,16,767,185.0
157871,zorro2,201766.0,Thu,28,-0.296,0.419,2005-11-24,43635000.0,16,767,263.0
157872,zorro2,351346.0,Fri,29,-0.504,0.741,2005-11-25,43986400.0,17,767,458.0
157873,zorro2,369735.0,Sat,30,-0.637,0.052,2005-11-26,44356100.0,17,767,482.0
157874,zorro2,185856.0,Sun,31,-0.704,-0.497,2005-11-27,44542000.0,18,767,242.0
157875,zorro2,42261.0,Mon,32,-0.786,-0.773,2005-11-28,44584200.0,0,767,55.0
157876,zorro2,43735.0,Tue,33,-0.827,0.035,2005-11-29,44628000.0,0,767,57.0
157877,zorro2,37658.0,Wed,34,-0.735,-0.139,2005-11-30,44665600.0,0,767,49.0
157878,zorro2,39720.0,Thu,35,-0.803,0.055,2005-12-01,44705300.0,0,767,52.0
157879,zorro2,83627.0,Fri,36,-0.762,1.105,2005-12-02,44789000.0,0,437,191.0
157880,zorro2,131113.0,Sat,37,-0.645,0.568,2005-12-03,44920100.0,0,437,300.0
157881,zorro2,80301.0,Sun,38,-0.568,-0.388,2005-12-04,45000400.0,0,437,184.0
157882,zorro2,28584.0,Fri,43,-0.658,0.000,2005-12-09,45114800.0,0,197,145.0
157883,zorro2,45579.0,Sat,44,-0.652,0.595,2005-12-10,45160400.0,0,197,231.0
157884,zorro2,28155.0,Sun,45,-0.649,-0.382,2005-12-11,45188500.0,0,197,143.0
157885,zorro2,39373.0,Fri,50,0.377,0.000,2005-12-16,45254900.0,0,286,138.0
157886,zorro2,59813.0,Sat,51,0.312,0.519,2005-12-17,45314700.0,0,286,209.0
157887,zorro2,41701.0,Sun,52,0.481,-0.303,2005-12-18,45356400.0,0,286,146.0

Looks perfect! Let's do foreign, now.

In [18]:
cursor = con.cursor()
db_name = 'Movies'
table_name = 'ForeignBoxOffice'
drop_table_query = '''DROP TABLE IF EXISTS {db}.{table}'''.format(db=db_name, table=table_name)
create_table_query = '''CREATE TABLE IF NOT EXISTS {db}.{table}
                        (BoxOfficeID varchar(250),
                        Country varchar(250),
                        Distributor varchar(250),
                        Release_Date datetime,
                        Opening_Weekend float,
                        Opening_Percent_Total float,
                        C_BoxOffice float,
                        As_Of varchar(250),
                        PRIMARY KEY(BoxOfficeID, Country),
                        FOREIGN KEY(BoxOfficeID) REFERENCES Movies.Movies(BoxOfficeID)
                        )'''.format(db=db_name, table=table_name)
cursor.execute(drop_table_query)
cursor.execute(create_table_query)
cursor.close()

In [19]:
cursor = con.cursor()
table_name = 'ForeignBoxOffice'
db_name = 'Movies'

insert_query_template = '''INSERT IGNORE INTO {db}.{table}(BoxOfficeID,
                        Country,
                        Distributor,
                        Release_Date,
                        Opening_Weekend,
                        Opening_Percent_Total,
                        C_BoxOffice,
                        As_Of)
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''.format(db=db_name, table=table_name)

for j in range(0,len(t_movies)):
    try:
        frame = GetForeign(t_movies["BoxOfficeID"][j])
        for i in range(0,len(frame)):
            query_parameters = (t_movies["BoxOfficeID"][j],
                       frame["Country"][i],
                       frame["Distributor"][i],
                       frame["Release_Date"][i],
                       frame["Opening_Weekend"][i],
                       frame["Opening_Percent_Total"][i],
                       frame["C_BoxOffice"][i],
                       frame["As_Of"][i])
            cursor.execute(insert_query_template,query_parameters)
    except:
        continue
con.commit()
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: Warning: (1265, "Data truncated for column 'Opening_Weekend' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: Warning: (1265, "Data truncated for column 'Opening_Percent_Total' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: Warning: (1265, "Data truncated for column 'C_BoxOffice' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:27: Warning: (1265, "Data truncated for column 'Release_Date' at row 1")

In [20]:
SQLquery_df('''SELECT * FROM Movies.ForeignBoxOffice''')

,As_Of,BoxOfficeID,C_BoxOffice,Country,Distributor,Opening_Percent_Total,Opening_Weekend,Release_Date
0,6/16/08,10000bc,2262480.0,Argentina,WB,0.218,492451.0,2008-03-06
1,5/25/08,10000bc,6276220.0,Australia,WB,0.328,2058400.0,2008-03-06
2,5/4/08,10000bc,1363340.0,Austria,WB,0.319,434353.0,2008-03-07
3,5/18/08,10000bc,2442140.0,Belgium,WB,0.253,617996.0,2008-03-12
4,5/11/08,10000bc,178173.0,Bolivia,-,0.363,64607.0,2008-03-20
5,6/8/08,10000bc,5918490.0,Brazil,WB,0.278,1646220.0,2008-03-07
6,5/11/08,10000bc,351361.0,Bulgaria,Alexandra,0.461,162012.0,2008-03-14
7,5/4/08,10000bc,178212.0,Central America,-,0.000,0.0,2008-03-14
8,5/11/08,10000bc,1222720.0,Chile,WB,0.253,309515.0,2008-03-06
9,4/20/08,10000bc,10851100.0,China,China Film,0.330,3582300.0,2008-03-21
10,5/18/08,10000bc,2623560.0,Colombia,-,0.000,0.0,2008-03-14
11,5/11/08,10000bc,299318.0,Croatia,-,0.000,0.0,2008-03-13
12,4/20/08,10000bc,580469.0,Czech Republic,WB,0.279,161848.0,2008-03-13
13,4/27/08,10000bc,1629330.0,Denmark,Sandrew,0.272,443860.0,2008-03-14
14,5/4/08,10000bc,90452.0,East Africa,-,0.000,0.0,2008-03-21
15,5/4/08,10000bc,450968.0,Ecuador,-,0.000,0.0,2008-03-21
16,6/8/08,10000bc,430171.0,Egypt,-,0.000,0.0,2008-03-19
17,5/4/08,10000bc,153429.0,Estonia,-,0.332,51003.0,2008-03-21
18,5/1/08,10000bc,436422.0,Finland,Sandrew,0.275,119835.0,2008-03-14
19,4/20/08,10000bc,7811230.0,France,WB,0.434,3390270.0,2008-03-12
20,5/25/08,10000bc,8871020.0,Germany,WB,0.324,2878130.0,2008-03-06
21,4/13/08,10000bc,1825460.0,Greece,Village,0.445,811755.0,2008-03-13
22,4/13/08,10000bc,1602650.0,Hong Kong,WB,0.493,789515.0,2008-03-06
23,4/27/08,10000bc,675334.0,Hungary,InterCom,0.311,210022.0,2008-03-13
24,4/20/08,10000bc,142117.0,Iceland,Samfilm,0.426,60596.0,2008-03-14
25,4/6/08,10000bc,3458340.0,India,-,0.000,0.0,2008-03-07
26,4/27/08,10000bc,1035240.0,Indonesia,-,0.000,0.0,2008-03-06
27,4/20/08,10000bc,506513.0,Israel,-,0.000,0.0,2008-03-13
28,4/27/08,10000bc,8188580.0,Italy,WB,0.356,2911080.0,2008-03-14
29,6/1/08,10000bc,9522430.0,Japan,WB,0.160,1522810.0,2008-04-26
...,...,...,...,...,...,...,...,...
52565,Final,zorro2,5192370.0,Mexico,-,0.000,0.0,2005-10-28
52566,Final,zorro2,1228140.0,Netherlands,Sony,0.308,378329.0,2005-10-27
52567,1/29/06,zorro2,502280.0,New Zealand,Roadshow,0.196,98459.0,2005-12-26
52568,1/22/06,zorro2,616814.0,Norway,Sony,0.327,201929.0,2005-10-28
52569,Final,zorro2,44528.0,Oman,-,0.000,0.0,2005-11-02
52570,Final,zorro2,482603.0,Peru,-,0.000,0.0,2005-10-27
52571,Final,zorro2,920401.0,Philippines,-,0.000,0.0,2005-10-26
52572,11/13/05,zorro2,222952.0,Poland,Forum,0.518,115432.0,2005-11-04
52573,11/16/05,zorro2,816228.0,Portugal,Lusomundo,0.577,470687.0,2005-10-27
52574,Final,zorro2,88150.0,Qatar,-,0.000,0.0,2005-11-03
52575,5/21/06,zorro2,48581.0,Romania,Prooptiki,0.316,15365.0,2006-03-24
52576,Final,zorro2,3896420.0,Russia,-,0.000,0.0,2005-10-27
52577,11/20/05,zorro2,3193050.0,Russia - CIS,-,0.342,1092230.0,2005-10-27
52578,Final,zorro2,60800.0,Serbia & Montenegro,-,0.000,0.0,2005-10-27
52579,Final,zorro2,558130.0,Singapore,-,0.000,0.0,2005-10-27
52580,Final,zorro2,36458.0,Slovakia,Itafilm,0.294,10717.0,2005-10-27
52581,Final,zorro2,153930.0,Slovenia,-,0.000,0.0,2005-10-27
52582,1/22/06,zorro2,907419.0,South Africa,-,0.000,0.0,2005-11-11
52583,Final,zorro2,1983640.0,South Korea,Sony,0.443,879547.0,2005-10-27
52584,1/22/06,zorro2,9952760.0,Spain,Sony,0.325,3237860.0,2005-10-28
52585,Final,zorro2,1146760.0,Sweden,-,0.000,0.0,2005-10-28
52586,11/6/05,zorro2,1036220.0,Switzerland,-,0.000,0.0,2005-10-26
52587,Final,zorro2,46948.0,Syria,-,0.000,0.0,2005-11-03
52588,Final,zorro2,598732.0,Taiwan,-,0.214,128153.0,2005-10-28
52589,Final,zorro2,752929.0,Thailand,-,0.426,320600.0,2005-10-27
52590,Final,zorro2,968935.0,Turkey,WB,0.305,295837.0,2005-10-28
52591,Final,zorro2,705252.0,United Arab Emirates,-,0.320,226018.0,2005-11-02
52592,Final,zorro2,7082710.0,United Kingdom,Sony,0.477,3375540.0,2005-10-28
52593,Final,zorro2,77293.0,Uruguay,-,0.000,0.0,2005-10-28
52594,Final,zorro2,705039.0,Venezuela,-,0.000,0.0,2005-10-28

There you have it! Next up: the IMDB data.